@import url('reset.css');
@import url('../fonts/fontawesome/css/all.min.css');
@import url('../fonts/font.css');
@import url('swiper-bundle.min.css');
@import url('../js/jquery-ui/jquery-ui.min.css');
@import url('../js/jquery-ui/datepicker-theme/datepicker-theme.css');

/* html,
body {
  font-size: 62.5%;
}
 @media all and (max-width: 1000px) {
    html {font-size:50%;}
 }
 @media all and (max-width: 767px) {
    html {font-size:62.5%;}
 } */
 html,
 body {
    font-size: 0.5208333333333334vw;
 }
@media screen and (min-width: 1920px){
    html,
    body {
        font-size: 62.5%;
    }
    
}
@media (max-width: 768px) {
    html,
    body {
        font-size: 2.66666666666667vw;
    }
}
#wrapper{}
/* common */
* { -webkit-overflow-scrolling: touch;  word-break: keep-all; box-sizing: border-box;}
input[type=text].datepicker{display: inline-flex; position: relative; background: url(../img/calendar.svg) no-repeat right 0.8rem center;}
input[type=text],input[type=email],input[type=password],textarea, select {-webkit-appearance: none; border: .1rem solid #d6d6d7; background-color: #fff; height: 4.8rem; padding: 0 1rem; font-size: 1.6rem; box-sizing: border-box; font-family:'happy', 'Happiness', 'Roslindale', sans-serif; width: 100%;  vertical-align: middle; color:#333;}
input[type=text]:disabled,input[type=password]:disabled{background-color: #f8f8f8;color:#0b0b1b}
select:disabled{background-color: #fff;color:#0b0b1b}
textarea{width: 100%; padding-top: 1.3rem;  padding-bottom: 1.3rem; height:30rem; font-size: 1.4rem; background: none; border: none; border: 1px solid #ddd;}
select::-ms-expand {display: none;}
button{outline: none; box-shadow: none; border: none; background: none; font-family:'happy', 'Happiness', 'Roslindale', sans-serif;  cursor: pointer; transition: all 0.2s ease;}
.clearfix:after{content: ""; display: block; clear: both;}
em{font-style: normal;}
input:focus,textarea:focus, select:focus{outline: none !important; box-shadow: none; border-color: #888;}
input:read-only,textarea:read-only{pointer-events: none;}
input.error{border: 1px solid #E60021;}
select{background:#fff url(../img/ico-arrow-bottom.svg) no-repeat right 1rem center; padding-right: 3rem; color: rgba(11, 11, 27, 0.5); background-size: 5rem 5rem}
input[type=radio]{width: 1.8rem; height: 1.8rem; position: absolute; opacity: 0;}
input[type=radio]+label:before{content: ""; display: inline-block; width: 1.8rem; height: 1.8rem; border-radius: 50%; border: .1rem solid #ddd; background-color: #fff; cursor: pointer; position: relative; z-index: 1; margin-right: 0.4rem;  vertical-align: top; flex: none;}
input[type=radio]+label:after{content: ""; display: block; position: absolute; width: 0.8rem; height: 0.8rem; border-radius: 50%; background-color: #ddd; left: .6rem; top: .6rem; z-index: 1; transition: all 0.2s ease; }
input[type=radio]+label{line-height: 2rem; display: inline-flex; vertical-align: top; position: relative; cursor: pointer; vertical-align: middle; white-space: nowrap; font-size: 1.6rem; align-items:center;}
input[type=radio]:checked+label::before{background-color: #4560d3;}
input[type=radio]:checked+label:after{opacity: 1; background-color: #fff;}
input[type=radio]:disabled+label:before{border: solid .1rem #dcdfe2; background-color: #f2f3f5; cursor:default;}
input[type=radio]:disabled+label{cursor:default;}
input[type=checkbox]{width: 1.1rem; height: 1.1rem; position: absolute; opacity: 0;}
input[type=checkbox]+label{display: inline-flex; position: relative; cursor: pointer; align-items: center; vertical-align: middle; font-size: 1.6rem; color: #333333; position: relative}
input[type=checkbox]+label:before{content: ""; display: inline-block; width: 2rem; height: 2rem; border-radius: 4px;  border: solid 1px #ccc; background-color: #fff; cursor: pointer; position: relative; z-index: 1; margin-right: .4rem;  vertical-align: top; box-sizing: border-box; flex: none;}
input[type=checkbox]:checked+label:after{content: "";display: inline-block;width: 1.4rem;height: 1.4rem;border-radius: 2px;cursor: pointer;position: absolute;z-index: 2;box-sizing: border-box;flex: none;background-color: #4560d3;left: 0.4rem}




/* font */



@media (max-width: 850px) {

}

/* 레이어 팝업 */
.popupList{text-align: center; width: 100%;}
.popupList p{margin-top: 1rem; height: 2rem;}
.popupList p a{display:inline-block; height: 2rem; line-height: 2rem;}
.modal{display: block;}
.overlay{display: none; position: fixed; top: 0; left: 0; z-index:100; width: 100%; height: 100%; min-height: inherit; background: #000; opacity: 0.5;}
.overlay span{display: none;}


/* btn */
.btn{display: inline-flex; box-sizing: border-box; transition: all 0.2s ease; align-items: center; justify-content: center; font-size: 1.6rem; flex: none;}
.btn img{margin-left: 0.5rem; margin-top: 0.2rem;}
.btn:disabled{background: #ADADAD; color: #333333;}
.btn.disabled{background: #ADADAD; color: #333333;}
.btn:focus{box-shadow: none;}
.btn-s{ height: 4rem; min-width: 13.5rem; border-radius: .6rem; font-weight: 300; padding: 0 1.6rem; font-size: 1.4rem;}
.btn-xs{ height: 2.4rem; min-width: 8rem; min-width: 6.2rem; font-size: 1.2rem; font-weight: 300; border-radius: .2rem;}
.btn-m{height:4.8rem; min-width: 8rem; font-weight: 400; padding-left: 1.5rem; padding-right: 1.5rem; line-height: 100%;}
.btn-m i,.btn-l i{margin-left: 1rem; font-size: 1.2rem; line-height: 100%; position: relative; margin-top: 0.2rem;}
.btn-m img,.btn-l img{margin-left: 1rem;}
.btn-w-18{width: 18rem;}
.btn-l{height: 5.6rem; font-size: 1.8rem; min-width: 16rem;}
.btn-wide{width: 40rem !important; margin-left: 0 !important; margin-right: 0 !important;}

.btn-blue{color: #fff !important; background-color: #003994;}
.btn-blue:hover{background-color: #2F436B}
.btn-white{background-color: #fff; border: 1px solid #ddd;}
.btn-white:hover{border: 1px solid #333333;}
.btn-black{color: #fff !important; background-color: #3EA9D6;}
.btn-orange{color: #fff !important; background-color: #ED8000;}
.btn-orange:hover{background: #FF5C00;}

.btn-list a{margin-right: 0.5rem; margin-top: 1.6rem;}
.btn:disabled{background-color: #f5f5f5; color: #888888 !important; border: .1rem solid #dddddd; cursor: default;}
@media (max-width: 600px) {

}


/* link */
a{color:#000;text-decoration:none; transition: all 0.2s ease;}
a:link, a:visited, a:active{text-decoration: none;}
a:hover{color:inherit;}

/* SKIP */
.accessbility{left:0;top:0;text-align:center;width:100%;z-index:100;background:#292929;font-size:1.6rem;position: absolute;}
.accessbility a{overflow:hidden;display:block;height:0;width:0;margin-bottom:-0.1rem;text-align:center;white-space:nowrap;color:#fff}
.accessbility a:focus,.accessbility a:active{height:auto;width:auto;padding:1.8rem 0;color:#fff}




/* layout */
.modal.modal-inside{transform: none; display: none;}

/* modal */
.modal-dialog-centered{display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (0.5rem * 2));}
.modal{ transition: all 0.4s ease; transform: translateY(5rem); z-index: 99999; position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;} 
.modal.show{opacity: 1; transform: translateY(0);}
.modal-dialog{max-width: none; margin-left: auto; margin-right: auto; z-index: 101; align-items: center; position: relative; display: flex; height: 100%; pointer-events: none; width: 98rem;}
.modal-content{box-shadow: 0 .3rem 1rem 0 rgba(0, 0, 0, 0.3); border: none; position: relative; display: flex; background-color: #fff; flex-direction: column; width: 100%; pointer-events: auto; padding: 6rem;}
.modal-header{display: flex; align-items: center; justify-content:center; flex-direction: column;}
.modal-content .close{position: absolute; right: 3rem; top: 3rem;}
.modal-content .close img{width: 4rem;}
.modal-header h1{ text-align: center; font-size: 3rem; font-weight: bold; display: flex; align-items: center; justify-content: center; line-height: 100%; margin-bottom: 5rem;}
.modal-header h1 img{width: 4rem; margin-right: 0.5rem;}
.modal-body{border: none; outline: none; font-size: 1.4rem; line-height: 1.5;}
.modal-body textarea{width: 100%; border: .1rem solid #ddd; border-radius: .4rem; padding: 1rem; height: 12rem;}
.modal-footer{border-top: none; padding:0rem; justify-content:center; padding: 1.2rem; background: #ECECEC;}
.modal-scroll-con{overflow-y: auto; max-height: 54rem; padding-right: 6rem; margin-right: -6rem; }
.modal-scroll-con::-webkit-scrollbar {width: 0.5rem;}
.modal-scroll-con::-webkit-scrollbar-thumb {background-color: #4560d3;}
.modal-scroll-con::-webkit-scrollbar-track {background-color: #fff;}
.modal-dialog.modal-s{width: 50rem;}
.modal-dialog.modal-s .modal-content{border-radius: 0;}
.modal-dialog.modal-s .modal-header{border-radius: 0; height: auto; min-height: 5.6rem; padding: 1.6rem 8rem; text-align: center;}
.modal-dialog.modal-s .modal-body{border-radius: 0; padding: 4rem 0 4rem 1.6rem}
.modal-dialog.modal-s .modal-scroll-con{padding-right: 1.6rem;}
@media (max-width: 1200px) {
    .modal-scroll-con{overflow-y: auto; max-height: 40rem;} 
}
@media (max-width:768px) {
    .modal.show{opacity: 1; transform: translateY(0);}
    .modal-dialog{max-width: none; margin-left: auto; margin-right: auto; z-index: 101; align-items: center; position: relative; display: flex; height: 100%; pointer-events: none; width: 95%;}
    .modal-content{border-radius:0; box-shadow: 0 .3rem 1rem 0 rgba(0, 0, 0, 0.3); border: none; position: relative; display: flex; background-color: #fff; flex-direction: column; width: 100%; pointer-events: auto; max-height: 80%; padding: 4rem 2rem;}
    .modal-content .close{position: absolute; right: 2rem; top: 2rem;}
    .modal-content .close img{width: 2.4rem;}
    .modal-header h1{font-size: 1.8rem;margin-bottom:2rem;}
    .modal-header h1 img{width: 3rem; margin-right: 0rem;}
    .modal-body{border: none; padding-right: 0; outline: none; border-radius: 0; font-size: 1.2rem; display: flex; flex-direction: column; flex: 1; overflow-y: auto;}
    .modal-body textarea{width: 100%; border: .1rem solid #ddd; border-radius: .4rem; padding: 1rem; height: 12rem;}
    .modal-footer{border-top: none; justify-content:center; padding: 0.8rem;}
    .modal-scroll-con{overflow-y: auto; height: auto; padding-right: 2rem;  flex: 1 ; margin-right:0rem; }

    .modal-dialog.modal-s{width:90vw; height: auto;}
    .modal-dialog.modal-s .modal-content{border-radius: 0;}
    .modal-dialog.modal-s .modal-header{border-radius: 0;}
    .modal-dialog.modal-s .modal-body{border-radius: 0; padding: 2.4rem 0 2.4rem 2.4rem}
    .modal-dialog.modal-s .modal-scroll-con{padding-right: 2.4rem;}

}

/* added:begin */
.modal-blur .modal-header,
.modal-blur .modal-body,
.modal-blur .modal-footer {
	filter: blur(1rem);
}
.modal-blur .modal-blur-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 15px;
	font-weight: bold;

	display: flex;
	align-items: center;
	justify-content: center;
}
/* added:end */
::-webkit-scrollbar {width: 0.5rem; height: 0.2rem; }
::-webkit-scrollbar-thumb {background: #C876FF; border-radius: 10px; }
::-webkit-scrollbar-track { background:#fff;}


/* common */
*{font-family:'happy', sans-serif;  box-sizing: border-box; font-weight:700; -webkit-font-smoothing: antialiased; -webkit-overflow-scrolling: touch; word-break: keep-all;}
html, body {color: #000; } 
body{font-size: 1.8rem; font-weight:500; letter-spacing: -0.04rem; overflow-x: hidden;}
#wrapper{width: 100%; }
#wrapper.car-select{overflow: hidden;}
.mob-view {display:none;}
.pc-view{display: block;}
.ff-happy{font-family:'happy',sans-serif;}
.ff-euclid{font-family:'euclid',sans-serif;}
.ff-Roslindale{font-family:'Roslindale',sans-serif;}
.row{width: 192rem; margin: auto;}
.image{display: flex;}
.image img{width: 100%; object-fit:cover;}
.video-block{}
.videoPlayer{position: relative; padding-bottom: 56.25%; padding-top: 3rem; height: 0; overflow: hidden;}
.videoPlayer video{object-fit:cover; object-position: center; width: 100%;  width: 100%    !important; height: auto   !important;}
.videoPlayer iframe{ object-fit:cover; object-position: center; width: 100%;}
video[poster]{object-fit:contain;}

/* layout */
#header {position: fixed; top: 0; left: 0; width: 100%; z-index: 100; transition: all 0.8s ease; transform: translateY(-100%); opacity: 0;}
#header.load{transform: translateY(0%); opacity: 1;}
#header.nav-down {transform: translateY(0%); }
#header.nav-down h1 {opacity: 1;}
#header.nav-up{transform: translateY(-100%); background: none}
#header.nav-up .row{ }
#header.nav-default{background: none; box-shadow: none;}

#header.nav-down {transform: translateY(0%);}
#header.nav-up{transform: translateY(-100%); background: none}
#header.nav-default{background: none; box-shadow: none;}



/* index */
#header h1 a{display: flex; background: url(../img/img-logo.svg) no-repeat; background-size: 100%; width: 23.7rem; height: 2rem; text-indent: -9999px; overflow: hidden;}
#header .row{height: 8rem; display: flex; align-items: center; justify-content: space-between; padding: 0 3.5rem;}
#header .row ul{display: flex; align-items: center; }
#header .row ul li{margin-left: 4rem;}
#header .row ul li a{}
#header .row ul li:first-child{margin-left: 0;}
#header .m-menu{display: none;}
#header.has-scrolled{}
#header.has-scrolled h1 a{background: url(../img/img-logo-w.svg) no-repeat; background-size: 100%;}
#header.has-scrolled .row ul li a{color: #fff;}
.page-nav{position: fixed; bottom:3rem; display: flex; justify-content: center; width: 100%; opacity: 0; transition: all 1s ease; pointer-events: none; z-index: 100;}
.page-nav.active{opacity: 1; pointer-events: auto;}
.page-nav ul{display: flex;  border:2px solid #000; border-radius: 3rem; background-color: #fff;}
.page-nav ul li{height: 5rem;}
.page-nav ul li a{text-transform: uppercase; font-size: 1.8rem; display: flex; padding: 0 3rem; height:100%; align-items: center; border-radius: 3rem; transition: all 1s ease;}
.page-nav ul li a.active{color: #fff; background-color: #000; }
.index.video-block {display: flex; height: 100vh; width: 100%;}
.index.video-block  > div{height: 100%; display: flex; width: 100%;}
.index.video-block video{height: 100%; object-fit:cover; width: 100%;}
.index.video-block .mob-view{display: none;}
.index.video-block .pc-view{display:flex;}
.section.section-01{position: relative;}
.section.section-01 .row{display: flex; flex-direction: column; justify-content:center;  }
.text-block{padding-left: 19rem;  height:100vh; position: sticky; top: 0; display: flex; flex-direction: column; justify-content: center; z-index: 0;}
.text-block p{letter-spacing: -0.2rem;  mix-blend-mode: difference; line-height: 6.4rem; font-size: 4.8rem;}
.text-block p:first-of-type{margin-bottom: 6rem;}
.thumb-img-list{display: flex; flex-direction: column; margin-top: -43vh; position: relative;padding-bottom: 100vh;}
.thumb-img-list li{display: flex;}
.thumb-img-list li:nth-child(1) {justify-content: flex-end; padding-right: 3.6rem;}
.thumb-img-list li:nth-child(1) img{width: 61.6rem;}
.thumb-img-list li:nth-child(2) {margin-top: 9rem; padding-left: 34.5rem;}
.thumb-img-list li:nth-child(2) img{width: 30.8rem;}
.thumb-img-list li:nth-child(3) {margin-top: 57.3rem; padding-left: 3.6rem;}
.thumb-img-list li:nth-child(3) img{width: 46.2rem;}
.thumb-img-list li:nth-child(4) {justify-content: flex-end; padding-right: 19rem;}
.thumb-img-list li:nth-child(4) img{width: 30.8rem;}
.thumb-img-list li:nth-child(5) {margin-top: 12rem; padding-left: 34.4rem;}
.thumb-img-list li:nth-child(5) img{width: 61.6rem;}

.section.section-02{position: relative; background: #FFE84C;}  
.section.section-03{position: relative;background: #C876FF;}
.section.section-04{position: relative;background: #3BBBEA;}
.section.section-05{position: relative;background: #FF97D0;}
.section.section-06{position: relative;background: #F5BD13;}

.section .section-contents{ padding: 10rem 19rem 24rem 19rem; overflow: hidden;}

.art-list-block{position: relative;margin-top: 6rem;}
img{width: 100%;}
.bg-shape{position:absolute; width: 100%; height: 100%;  left: 0; top: 0; z-index: 0;}
.bg-shape li{position: absolute;}
.art-list{position: relative; display: flex; flex-direction: column;}
.section h2{font-family:'euclid',sans-serif; font-size: 20rem; text-align: center; text-transform: uppercase; line-height: 25.4rem; letter-spacing: -0.03em;}
.section .sub-title{font-family:'Roslindale',sans-serif; font-size: 4rem; text-align: center;line-height: auto; line-height: 100%; letter-spacing: -0.02em;}
.artist{ display: flex; align-items: center; margin-top: 6rem; }
.artist p{font-size: 2.4rem; line-height: 3.4rem; margin-left: 9rem;}
.artist .image{ display: flex; width: 68rem;}


.section.section-02 .art-list{display: flex; flex-direction: column;}
.section.section-02 .art-list li:nth-child(1){width:77rem; align-self: flex-end;}
.section.section-02 .art-list li:nth-child(2){width:46.2rem; margin-top: 20rem;}
.section.section-02 .art-list li:nth-child(3){width:46.2rem; align-self: flex-end; margin-top: -30rem; margin-right: 31.5rem;}
.section.section-02 .bg-shape li:nth-child(1){width:52.8rem; top: 19rem; left: -14rem;}
.section.section-02 .bg-shape li:nth-child(2){width:36rem; top:14.4rem ; left:24.8rem;}
.section.section-02 .bg-shape li:nth-child(3){width:85rem; right: -16rem; top: 79rem;}
.section.section-02 .bg-shape li:nth-child(4){width:45.8rem;top: 61.2rem; right: 5.3rem;}
.section.section-02 .bg-shape li:nth-child(5){top: 69.4rem; left: 76.5rem;}
.section.section-02 .bg-shape li:nth-child(6){top: 150rem; left: 20rem;}
.bg-shape .arrow{width: 5.6rem;}

.section-03 .artist{flex-direction: row-reverse;}
.section-03 .artist p{margin-left: 0; margin-right: 16.5rem;}
.section-03 .art-list{display: flex; flex-direction: column;}


.section.section-03 .art-list li:nth-child(1){width:76rem;}
.section.section-03 .art-list li:nth-child(2){width:61.6rem; margin-top:-14.5rem; align-self: flex-end;}
.section.section-03 .art-list li:nth-child(3){width:46.2rem; margin-left: 30.5rem; margin-top:17.7rem;}

.section.section-03 .bg-shape li:nth-child(1){width:37rem; top:5.4rem; left:82.3rem;}
.section.section-03 .bg-shape li:nth-child(2){width:79.2rem; top:70rem ; left:-11.7rem;}
.section.section-03 .bg-shape li:nth-child(3){width:68.2rem; right: -19rem; top:101rem;}
.section.section-03 .bg-shape li:nth-child(4){width:42rem;top: 154.7rem; right: 22.7rem;}
.section.section-03 .bg-shape li:nth-child(5){top: 79.8rem; left: 36.2rem;}
.section.section-03 .bg-shape li:nth-child(6){top: 124.9rem; left: 91.4rem;}

.section.section-04 .art-list{padding-bottom: 24rem;}
.section.section-04 .art-list li:nth-child(1){}
.section.section-04 .art-list li:nth-child(2){width:52rem; margin-top:12rem; margin-right: 9.5rem; align-self: flex-end;}
.section.section-04 .art-list li:nth-child(3){width:52rem; margin-top:-26.5rem;}
.section.section-04 .art-list li:nth-child(4){width:52rem; margin-top:16.7rem; align-self: flex-end; margin-right: 25rem;}

.section.section-04 .bg-shape li:nth-child(1){width:42rem; top:128rem; right: -4rem;}
.section.section-04 .bg-shape li:nth-child(2){width:42rem; top:153.3rem ; left:-8.4rem;}
.section.section-04 .bg-shape li:nth-child(3){width:42rem; top:222rem; left: 60rem;}
.section.section-04 .bg-shape li:nth-child(4){top:142.5rem; left: 92.4rem;}
.section.section-04 .bg-shape li:nth-child(5){top: 185.7rem; left: 28rem;}

.section-05 .artist{flex-direction: row-reverse;}
.section-05 .artist p{margin-left: 0; margin-right: 10rem;}
.section-05 .art-list{display: flex; flex-direction: column;}
.section-05 .art-list li:nth-child(1){width:77rem;}
.section-05 .art-list li:nth-child(2){width:47.2rem; margin-top:-3rem; align-self: flex-end;}
.section-05 .art-list li:nth-child(3){width:92.4rem; margin-top:24rem; margin-left: 15.5rem;}
.section-05 .bg-shape li:nth-child(1){width:36.3rem; top:22.6rem; left: 101rem;}
.section-05 .bg-shape li:nth-child(2){width:47rem; top:0rem ; left:81rem;}
.section-05 .bg-shape li:nth-child(3){width:99.4rem; right: 3.3rem; top:59.3rem; }
.section-05 .bg-shape li:nth-child(4){width:42rem; top:84.5rem; left: 25.2rem;}
.section-05 .bg-shape li:nth-child(5){top: 61.2rem; left: 35.7rem;}
.section-05 .bg-shape li:nth-child(6){top:150.5rem; left: 128rem;}

.section-06 .artist{flex-direction: row-reverse;}
.section-06 .artist p{margin-left: 0; margin-right: 9rem;}
.section-06 .art-list{display: flex; flex-direction: column;}
.section-06 .art-list li:nth-child(1){width:92.4rem;}
.section-06 .art-list li:nth-child(2){width:61.6rem; margin-top:22.5rem; align-self: flex-end;}
.section-06 .art-list li:nth-child(3){width:77rem; margin-top:-10.5rem;}

.section-06 .bg-shape li:nth-child(1){width:93.7rem; top:7.6rem; left: 34.6rem;}
.section-06 .bg-shape li:nth-child(2){width:45.8rem; top:76.7rem ; left:-12.7rem;}
.section-06 .bg-shape li:nth-child(3){width:47rem; top:56rem;  left: 6rem;}
.section-06 .bg-shape li:nth-child(4){width:44.9rem; top:139.8rem; right: -11.2rem;}
.section-06 .bg-shape li:nth-child(5){top: 35rem; left: 133rem;}
.section-06 .bg-shape li:nth-child(6){top:100rem; left: 66.6rem;}

.highlight{background-color: #000;}
.highlight h2{color: #fff;}
.highlight .row{padding: 10rem 3.6rem 26.5rem 3.6rem; overflow: hidden;}
.highlight .mySwiper{margin-top: 7rem;}
.highlight .swiper-slide{width: 46.2rem;}
.highlight .swiper-slide a{display: flex; flex-direction: column; align-items: center;}
.highlight .swiper-slide a img{transition: all 0.4s ease; width: 46.2rem;}
.highlight .swiper-slide a span{display: flex; color: #fff; font-size: 2.4rem; padding: 0 3rem; height: 7rem; border-radius: 4rem; border: 0.3rem solid #FFFFFF; align-items: center; margin-top: -3.5rem; background-color: #000; position: relative;}
.highlight .swiper-slide a:hover img{transform: translateY(-2rem);}

#footer {background-color: #000; position: relative; z-index: 10;}
#footer .row{height: 12rem; display: flex; align-items: center; color: #fff; padding: 0 3.6rem; text-transform: uppercase;}

.mob-menu{position:fixed; display: flex; width:100%; height: 100%; background-color: #000; z-index: 101; color: #fff; top: 0; left: 0; flex-direction: column; transition: all 0.4s ease; opacity: 0; pointer-events: none; transform: translateX(100%); display: none;}
.mob-menu .close{text-align: right; height: 6rem; display: flex; justify-content: flex-end; padding: 0 2rem; align-items:center; font-size: 1.6rem; }
.mob-menu .close a{font-weight: 400;}
.mob-menu a{color: #fff;}
.mob-menu .footer{text-transform: uppercase; margin-top: auto; text-align: center; padding-bottom: 2rem;}
.mob-menu .footer span:first-of-type{font-size: 1.6rem;  font-family:'Roslindale',sans-serif;}
.mob-menu .footer span:last-of-type{font-size: 1.8rem; font-family:'euclid',sans-serif;}
.mob-menu .m-gnb{margin-top: 12rem; display: flex; flex-direction: column; align-items: center;}
.mob-menu .m-gnb li{margin-bottom: 1.6rem; font-size: 3rem;}

.mob-menu.active{transform: translateX(0); opacity: 1; pointer-events:all;}



@media (max-width: 768px) {
    .mob-view {display:block;}
    .pc-view{display: none;}
    .row{width: 100%; margin: auto;}
    #header h1 a{display: flex; background: url(../img/img-logo.svg) no-repeat; background-size: 100%; width:16.6rem; height: 1.4rem; text-indent: -9999px; overflow: hidden;}
    #header .m-menu{display: flex;}
    #header .m-menu a{font-size: 1.6rem;}
    #header .row{height: 5.6rem; background-color: #fff; display: flex; align-items: center; justify-content: space-between; padding: 0 2rem;}
    #header .row ul.gnb{display: none;}
    #header.has-scrolled h1 a{background: url(../img/img-logo.svg) no-repeat; background-size: 100%;}
    #header.has-scrolled .row ul li a{color: #fff;}
    .page-nav{position: fixed; bottom:4rem; display: flex; justify-content: center; width: 14rem; opacity: 0; transition: all 1s ease; pointer-events: none; z-index: 100; left: 50%; transform: translateX(-50%);}
    .page-nav.active{opacity: 1; pointer-events: auto;}
    .page-nav ul{display: flex; flex-direction: column;  border:2px solid #000; width: 14rem; border-radius: 3rem; background-color: #fff;}
    .page-nav ul li{height:auto;  transition: all 0.4s ease;}
    .page-nav ul li a{text-transform: uppercase; font-size: 1.6rem; display: flex; padding: 0; height:100%; align-items: center; border-radius:2.1rem; transition: all 1s ease; font-weight: 400; justify-content: center; height: 4.2rem; display: none; }
    .page-nav ul li a.active{color: #fff; background-color: #000; display: flex; }
    .page-nav ul li a{pointer-events: none;}
    .page-nav.open ul li a{display: flex; pointer-events:auto;}

    .page-nav.on ul li{display:block ;}
    .index.video-block {display: flex; height:100vh; width: 100%;}
    .index.video-block  > div{height: 100%; display: flex; width: 100%;}
    .index.video-block video{height: 100%; object-fit:cover; width: 100%;}
    .index.video-block .mob-view{display: flex;}
    .index.video-block .pc-view{display:none;}
    .section.section-01{position: relative;}
    .section.section-01 .row{display: flex; flex-direction: column; justify-content:center;  }
    .text-block{padding-left: 3rem; padding-right: 3rem;  height:100vh; position: sticky; top: 0; display: flex; flex-direction: column; justify-content: center; z-index: 0; }
    .text-block p{letter-spacing: -0.2rem;  line-height: 3rem; font-size: 2.2rem;}
    .text-block p br{display: none;}
    .text-block p:first-of-type{margin-bottom: 4rem;}
    .thumb-img-list{display: flex; flex-direction: column; margin-top: 10rem; position: relative; padding-bottom: 100vh; padding-left: 2rem; padding-right: 2rem;}
    .thumb-img-list li{display: flex;}
    .thumb-img-list li:nth-child(1) {justify-content: flex-end; padding-right:0;}
    .thumb-img-list li:nth-child(1) img{width: 24rem;}
    .thumb-img-list li:nth-child(2) {margin-top: 28rem; padding-left: 0rem;}
    .thumb-img-list li:nth-child(2) img{width: 16rem;}
    .thumb-img-list li:nth-child(3) {justify-content: flex-end; margin-top:20rem; padding-left:0rem;}
    .thumb-img-list li:nth-child(3) img{width: 20rem;}
    .thumb-img-list li:nth-child(4) {margin-top:16rem;justify-content: flex-start;  padding-right: 0rem;}
    .thumb-img-list li:nth-child(4) img{width: 12rem;}
    .thumb-img-list li:nth-child(5) {margin-top: 28rem;  padding-left:0rem;}
    .thumb-img-list li:nth-child(5) img{width: 24rem;}

    .section.section-02{position: relative; background: #FFE84C;}  
    .section.section-03{position: relative;background: #C876FF;}
    .section.section-04{position: relative;background: #3BBBEA;}
    .section.section-05{position: relative;background: #FF97D0;}
    .section.section-06{position: relative;background: #F5BD13;}

    .section .section-contents{ padding: 8rem 2rem 10rem 2rem; overflow: hidden;}

    .art-list-block{position: relative;margin-top: 8rem;}
    img{width: 100%;}
    .bg-shape{position:absolute; width: 100%; height: 100%;  left: 0; top: 0; z-index: 0;}
    .bg-shape li{position: absolute;}
    .art-list{position: relative; display: flex; flex-direction: column;}
    .section h2{font-size: 6.4rem; line-height: 6rem;}
    .section .sub-title{font-size: 1.8rem; margin-top: 1.2rem;}
    .artist{ display: flex; flex-direction: column; align-items: flex-start; margin-top:4rem; }
    .artist p{font-size:1.8rem; line-height: 2.6rem; margin-left:0rem; padding-left: 1rem; padding-right: 1rem; margin-top: 6rem;}
    .artist p br{display: none;}
    .artist .image{ display: flex; width: calc(100% + 2rem); margin-left: -1rem;}


    .section.section-02 .art-list{display: flex; flex-direction: column;}
    .section.section-02 .art-list li:nth-child(1){width:28rem; align-self: flex-start;}
    .section.section-02 .art-list li:nth-child(2){width:20rem;  align-self: flex-end; margin-top: 23rem;}
    .section.section-02 .art-list li:nth-child(3){width:20rem;  margin-top: 6rem; margin-right:auto;}
    .section.section-02 .bg-shape li:nth-child(1){width:24rem; top:20.4rem; left: -1.3rem;}
    .section.section-02 .bg-shape li:nth-child(2){width:16rem; top:20.3rem ; left:auto; right: 0;}
    .section.section-02 .bg-shape li:nth-child(3){width:29rem; top: 53rem; right: -10rem;}
    .section.section-02 .bg-shape li:nth-child(4){display: none;}
    .section.section-02 .bg-shape li:nth-child(5){top: 51.8rem; left: 3.4rem;}
    .section.section-02 .bg-shape li:nth-child(6){display: none;}
    .bg-shape .arrow{width: 2.8rem;}

    .section-03 .artist{flex-direction:column;}
    .section-03 .artist p{margin-left: 0; margin-right:0rem;}
    .section-03 .art-list{display: flex; flex-direction: column;}


    .section.section-03 .art-list li:nth-child(1){width:28rem;}
    .section.section-03 .art-list li:nth-child(2){width:24rem; margin-top:4rem; align-self: flex-end;}
    .section.section-03 .art-list li:nth-child(3){width:20rem; margin-left: 0rem; margin-top:17rem;}

    .section.section-03 .bg-shape li:nth-child(1){width:19.6rem; top:48.7rem; left:-0.8rem;}
    .section.section-03 .bg-shape li:nth-child(2){width:38.9rem; top: 51.9rem; left: 2.8rem;}
    .section.section-03 .bg-shape li:nth-child(3){display: none;}
    .section.section-03 .bg-shape li:nth-child(4){display: none;}
    .section.section-03 .bg-shape li:nth-child(5){top: 79.8rem; left: 36.2rem;}
    .section.section-03 .bg-shape li:nth-child(6){display: none;}

    .section.section-04 .art-list{padding-bottom: 15rem;}
    .section.section-04 .art-list li:nth-child(1){}
    .section.section-04 .art-list li:nth-child(2){width:24rem; margin-top:4rem; margin-right:0; align-self: flex-end;}
    .section.section-04 .art-list li:nth-child(3){width:24rem; margin-top:14rem;}
    .section.section-04 .art-list li:nth-child(4){width:24rem; margin-top:14rem; align-self: flex-end; margin-right:0;}

    .section.section-04 .bg-shape li:nth-child(1){width:15rem; top:48rem; right:0rem;}
    .section.section-04 .bg-shape li:nth-child(2){width:15rem; top:86.2rem ; left:0rem;}
    .section.section-04 .bg-shape li:nth-child(3){width:19rem; top:125rem; right: 2.5rem; left: auto;}
    .section.section-04 .bg-shape li:nth-child(4){top:49.5rem; left: 3rem;}
    .section.section-04 .bg-shape li:nth-child(5){top: 88rem; right: 3rem;}

    .section-05 .artist{flex-direction:column;}
    .section-05 .artist p{margin-left: 0; margin-right:0;}
    .section-05 .art-list{display: flex; flex-direction: column;}
    .section-05 .art-list li:nth-child(1){width:28rem;}
    .section-05 .art-list li:nth-child(2){width:20rem; margin-top:22rem; align-self: flex-end;}
    .section-05 .art-list li:nth-child(3){width:100%; margin-top:6rem; margin-left: 0;}

    .section-05 .bg-shape li:nth-child(1){width:16rem; top:28.9rem ; left:9.5rem;}
    .section-05 .bg-shape li:nth-child(2){width:20.3rem; top:20rem ; left:-0.7rem;}
    .section-05 .bg-shape li:nth-child(3){width:47.4rem; right:auto; top:37rem; left: -15rem;}
    .section-05 .bg-shape li:nth-child(3) img{ transform:rotateZ(30deg);}
    .section-05 .bg-shape li:nth-child(4){display: none;}
    .section-05 .bg-shape li:nth-child(5){top:39rem; left: 2.7rem;}
    .section-05 .bg-shape li:nth-child(6){display: none;}

    .section-06 .artist{flex-direction:column;}
    .section-06 .artist p{margin-left: 0; margin-right: 0;}
    .section-06 .art-list{display: flex; flex-direction: column;}
    .section-06 .art-list li:nth-child(1){width:100%;}
    .section-06 .art-list li:nth-child(2){width:24rem; margin-top:22rem; align-self: flex-end;}
    .section-06 .art-list li:nth-child(3){width:28rem; margin-top:15rem;}

    .section-06 .bg-shape li:nth-child(1){width:31.4rem; top:22rem; left: -4rem;}
    .section-06 .bg-shape li:nth-child(2){display: none;}
    .section-06 .bg-shape li:nth-child(3){width:18rem; top:19.8rem;  left: 1.2rem;}
    .section-06 .bg-shape li:nth-child(4){width:17.8rem; top:67rem; right:auto; left: 16rem;}
    .section-06 .bg-shape li:nth-child(4) img{transform: rotateZ(25deg);}
    .section-06 .bg-shape li:nth-child(5){top: 68rem; left:2.6rem;}
    .section-06 .bg-shape li:nth-child(6){display: none;}

    .highlight{background-color: #000;}
    .highlight h2{color: #fff; font-size: 5.6rem;}
    .highlight .row{padding: 7rem 0 4rem 0;}
    .highlight .mySwiper{margin-top: 7rem; border-top: 0.1rem solid rgba(255, 255, 255, 0.2);}
    .highlight .mySwiper .swiper-wrapper{flex-direction: column;}
    .highlight .swiper-slide{width:100%; border-bottom:0.1rem solid rgba(255, 255, 255, 0.2); padding: 1.6rem 2.2rem;}
    .highlight .swiper-slide a{display: flex; flex-direction:row; align-items: center; position: relative;}
    .highlight .swiper-slide a:after{content: ""; display: block; width: 1.9rem; height: 1.7rem; background: url(../img/Arrow_Down.svg) no-repeat; background-size: 100%; position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
    .highlight .swiper-slide a img{transition: all 0.4s ease; width: 7.6rem; border-radius: 50%;}
    .highlight .swiper-slide a span{display: flex; padding: 0 2rem; height: auto; border-radius:0; border:none; align-items: center; margin-top: 0; background-color: #000; position: relative; font-size: 1.8rem;}
    .highlight .swiper-slide a:hover img{transform: translateY(0);}

    #footer {background-color: #000; position: relative; z-index: 10;}
    #footer .row{height:7.5rem; display: flex; align-items: center; color: #fff; padding: 0 2rem; font-size: 1.2rem; line-height: 1.7rem;}

    .mob-menu{display: flex;}
}


.floor-menu{display: flex; position:fixed; background: #C876FF; width: 65rem; left: 0; top: 0; bottom: 0; padding: 10rem 3.6rem 6rem 3.6rem; flex-direction: column;}
.floor-menu h2{font-size: 12rem; font-family:'euclid',sans-serif; padding-left: 2.4rem; line-height: 12rem;}
.floor-menu .floor-nav {margin-top: auto;}
.floor-menu .floor-nav li a{ display: flex; height: 6.2rem; align-items: center; justify-content:space-between; font-size: 2.8rem; padding:0 4rem 0 3rem; border-radius: 3.1rem;}
.floor-menu .floor-nav li.active a{background-color: #fff; padding: 0 3rem;}
.floor-menu .floor-nav li a:hover{padding: 0 3rem;}
.floor-contents{padding-left: 65rem; font-size: 5rme;}
.floor-title{height: 100vh; align-items: center; justify-content: center; display: flex; flex-direction: column; position: relative;}
.floor-title h3{font-family:'euclid',sans-serif; text-transform: uppercase; font-size: 12rem; line-height:100%; text-align: center;}
.floor-title .sub-title{text-align: center; margin-top: 6rem; font-size: 2.4rem; line-height: 3.4rem;}
.floor-title .scroll-down{text-transform: uppercase; line-height: 100%; display: flex; align-items:center; position: absolute; bottom:6rem; left: 50%; transform: translateX(-50%);}
.floor-title .scroll-down img{width: 2.6rem; margin-left: 0.8rem;}
.page-menu{position: fixed; bottom: 6rem; right: 3.6rem;}
.page-menu li{margin-top: 1.6rem;}
.page-menu li a {display: flex; border: 0.3rem solid #000000; border-radius: 50%; width: 6.4rem; height: 6.4rem; align-items: center; justify-content: center;}
.page-menu li a img{width: 3.2rem;}

.floor-list{padding: 12rem 11.5rem 20rem 15.4rem;}
.floor-info{background-color: #000; color: #fff; padding: 10rem 7.5rem 0 7.5rem;}
.floor-info dl{padding-bottom: 24rem;}
.floor-info dl dt{font-size: 2.8rem; margin-bottom: 5rem; line-height: 3.8rem;}
.floor-info dl li{display: flex; height: 7.3rem; justify-content: space-between; align-items: center; border-bottom: 0.2rem solid rgba(255, 255, 255, 0.15); font-size: 2rem; padding: 0 0.5rem;}
.floor-list ul{display: flex; flex-direction: column;}
.floor-list ul li:nth-child(even){align-self: flex-end;}
.floor-list ul li img{width: 35.3rem; padding: 1.6rem ; background: #FFE84C; margin-bottom: 1rem;}
.floor-list ul li{display: flex; flex-direction: column; font-size: 2rem; line-height: 3rem;}
.floor-list ul li:nth-child(1){margin-left: 7.7rem;}
.floor-list ul li:nth-child(2){margin-top: -33.5rem;}
.floor-list ul li:nth-child(3){margin-top: -10rem;}
.floor-list ul li:nth-child(4){margin-top: -11.5rem; margin-right: 7.7rem;}
.floor-list ul li:nth-child(5){margin-top: -14rem;}
.floor-list ul li:nth-child(6){margin-top: -11.7rem;}








.ff-euclid{font-family:'euclid',sans-serif;}
.ff-Roslindale{font-family:'Roslindale',sans-serif;}