@import url('reset.css');
@import url('style-common.css');
@import url('../fonts/fontawesome/css/all.min.css');
@import url('../fonts/font.css');
@import url('swiper-bundle.min.css');
@import url('../js/jquery-ui/jquery-ui.min.css');
@import url('../js/jquery-ui/datepicker-theme/datepicker-theme.css');
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700;900&family=Noto+Sans+KR:wght@300;400;500;700&display=swap'); */

html,
body {
  font-size: 62.5%;
}
 @media all and (max-width: 1000px) {
    html {font-size:50%;}
 }
 @media all and (max-width: 600px) {
    html {font-size:62.5%;}
 }
/* common */
* { -webkit-overflow-scrolling: touch;  word-break: keep-all; box-sizing: border-box;}
input[type=text].datepicker{display: inline-flex; position: relative; background: url(../img/calendar.svg) no-repeat right 0.8rem center;}
input[type=text],input[type=email],input[type=password],textarea, select {-webkit-appearance: none; border: .1rem solid #d6d6d7; background-color: #fff; height: 4.8rem; padding: 0 1rem; font-size: 1.6rem; box-sizing: border-box; font-family:'Lato', 'Noto Sans KR', sans-serif; width: 100%;  vertical-align: middle; color:#333;}
input[type=text]:disabled,input[type=password]:disabled{background-color: #f8f8f8;color:#0b0b1b}
select:disabled{background-color: #fff;color:#0b0b1b}
textarea{width: 100%; padding-top: 1.3rem;  padding-bottom: 1.3rem; height:30rem; font-size: 1.4rem; background: none; border: none; border: 1px solid #ddd;}
select::-ms-expand {display: none;}
button{outline: none; box-shadow: none; border: none; background: none;font-family:'Lato', 'Noto Sans KR', sans-serif; cursor: pointer; transition: all 0.2s ease;}
.clearfix:after{content: ""; display: block; clear: both;}
em{font-style: normal;}
input:focus,textarea:focus, select:focus{outline: none !important; box-shadow: none; border-color: #888;}
input:read-only,textarea:read-only{pointer-events: none;}
input.error{border: 1px solid #E60021;}
select{background:#fff url(../img/ico-arrow-bottom.svg) no-repeat right 1rem center; padding-right: 3rem; color: rgba(11, 11, 27, 0.5); background-size: 5rem 5rem}
input[type=radio]{width: 1.8rem; height: 1.8rem; position: absolute; opacity: 0;}
input[type=radio]+label:before{content: ""; display: inline-block; width: 1.8rem; height: 1.8rem; border-radius: 50%; border: .1rem solid #ddd; background-color: #fff; cursor: pointer; position: relative; z-index: 1; margin-right: 0.4rem;  vertical-align: top; flex: none;}
input[type=radio]+label:after{content: ""; display: block; position: absolute; width: 0.8rem; height: 0.8rem; border-radius: 50%; background-color: #ddd; left: .6rem; top: .6rem; z-index: 1; transition: all 0.2s ease; }
input[type=radio]+label{line-height: 2rem; display: inline-flex; vertical-align: top; position: relative; cursor: pointer; vertical-align: middle; white-space: nowrap; font-size: 1.6rem; align-items:center;}
input[type=radio]:checked+label::before{background-color: #4560d3;}
input[type=radio]:checked+label:after{opacity: 1; background-color: #fff;}

input[type=radio]:disabled+label:before{border: solid .1rem #dcdfe2; background-color: #f2f3f5; cursor:default;}
input[type=radio]:disabled+label{cursor:default;}

input[type=checkbox]{width: 1.1rem; height: 1.1rem; position: absolute; opacity: 0;}
input[type=checkbox]+label{display: inline-flex; position: relative; cursor: pointer; align-items: center; vertical-align: middle; font-size: 1.6rem; color: #333333; position: relative}

input[type=checkbox]+label:before{content: ""; display: inline-block; width: 2rem; height: 2rem; border-radius: 4px;  border: solid 1px #ccc; background-color: #fff; cursor: pointer; position: relative; z-index: 1; margin-right: .4rem;  vertical-align: top; box-sizing: border-box; flex: none;}
input[type=checkbox]:checked+label:after{content: "";display: inline-block;width: 1.4rem;height: 1.4rem;border-radius: 2px;cursor: pointer;position: absolute;z-index: 2;box-sizing: border-box;flex: none;background-color: #4560d3;left: 0.4rem}


/* input[type=checkbox]:disabled+label:before{border: solid .1rem #dcdfe2; background-color: #f2f3f5; cursor:default;}
input[type=checkbox]:disabled+label{cursor:default;} */


.radio-btn{ display: flex;}
.radio-btn input[type=radio]+label{border: solid 1px #ebeded; font-size: 1.4rem;  color: rgba(32, 33, 36, 0.8); height: 4rem; width: 10rem; display: inline-flex; align-items: center; justify-content: center; border-left: none; transition: all 0.4s ease;}
.radio-btn input[type=radio]:first-of-type+label{border: solid 1px #ebeded; border-radius: 0.4rem 0 0  0.4rem;}
.radio-btn input[type=radio]:last-of-type+label{border-radius: 0 0.4rem 0.4rem 0;}
.radio-btn input[type=radio]:checked+label{border: solid 1px #2185d0; background-color: #f2f9ff;}
.radio-btn input[type=radio]+label::after{display:none;}
.radio-btn input[type=radio]+label::before{display:none;}
@media (max-width: 600px) {
    .radio-btn{ display: flex;}
    .radio-btn input[type=radio]+label{border: solid 1px #ebeded; font-size: 1.2rem;  color: rgba(32, 33, 36, 0.8); height: 4rem; width: 7.6rem; display: inline-flex; align-items: center; justify-content: center; border-left: none; transition: all 0.4s ease;}
    .radio-btn input[type=radio]:first-of-type+label{border: solid 1px #ebeded; border-radius: 0.4rem 0 0  0.4rem;}
    .radio-btn input[type=radio]:last-of-type+label{border-radius: 0 0.4rem 0.4rem 0;}
    .radio-btn input[type=radio]:checked+label{border: solid 1px #2185d0; background-color: #f2f9ff;}
    .radio-btn input[type=radio]+label::after{display:none;}
    .radio-btn input[type=radio]+label::before{display:none;}
}
.switch-chk{position: absolute; opacity: 0;}
.switch-chk+label{display: block;width: 5rem; height: 2.5rem; border-radius: 1.3rem; background-color: #dddddd; position: relative; cursor: pointer;  transition: all 0.2s ease;}
.switch-chk+label:after{content: ""; display: block; width: 2.1rem; height: 2.1rem; background-color: #ffffff; position: absolute; border-radius: 50%; left: .2rem; top: .2rem; transition: all 0.2s ease;}
.switch-chk:checked+label{background-color: #65c466;}
.switch-chk:checked+label:after{left: 2.7rem;}


/* font */
.fs-11{font-size: 1.1rem;}
.fs-12{font-size: 1.2rem;}
.fs-13{font-size: 1.3rem;}
.fs-14{font-size: 1.4rem !important;}
.fs-15{font-size: 1.5rem;}
.fs-16{font-size: 1.6rem;}
.fs-18{font-size: 1.8rem; line-height: 3.2rem;}
.fs-20{font-size: 2rem;}
.fs-34{font-size: 3.4rem;}


@media (max-width: 850px) {
    .fs-14{font-size: 1.2rem; line-height: 2.2rem;}
    .fs-18{font-size: 1.4rem; line-height: 2.4rem;}
    .fs-20{font-size: 1.8rem; line-height: 1.5;}
    .fs-34{font-size: 2rem;}
}

.under{text-decoration: underline;}
.fc-blue-light{color: #003994 !important;}
.fc-blue{color: #003994 !important;}
.fc-yellow{color: #ffe440 !important;}
.fc-black{color: #000 !important;}
.fc-red{color: #f50000 !important;}
.fc-gray{color: #666666 !important;}
.fc-green{color: #39b549 !important;}
.fc-violet{color: #91268f !important;}
.fc-orange{color: #f16621 !important;}
.fc-pink{color: #e9058e !important;}
.fc-white{color: #fff !important;}
.fc-light{color: #ddd !important;}

/* 레이어 팝업 */
.popupList{text-align: center; width: 100%;}
.popupList p{margin-top: 1rem; height: 2rem;}
.popupList p a{display:inline-block; height: 2rem; line-height: 2rem;}
.modal{display: block;}
.overlay{display: none; position: fixed; top: 0; left: 0; z-index:100; width: 100%; height: 100%; min-height: inherit; background: #000; opacity: 0.5;}
.overlay span{display: none;}


/* btn */
.btn{display: inline-flex; box-sizing: border-box; transition: all 0.2s ease; align-items: center; justify-content: center; font-size: 1.6rem; flex: none;}
.btn img{margin-left: 0.5rem; margin-top: 0.2rem;}
.btn:disabled{background: #ADADAD; color: #333333;}
.btn.disabled{background: #ADADAD; color: #333333;}
.btn:focus{box-shadow: none;}
.btn-s{ height: 4rem; min-width: 13.5rem; border-radius: .6rem; font-weight: 300; padding: 0 1.6rem; font-size: 1.4rem;}
.btn-xs{ height: 2.4rem; min-width: 8rem; min-width: 6.2rem; font-size: 1.2rem; font-weight: 300; border-radius: .2rem;}
.btn-m{height:4.8rem; min-width: 8rem; font-weight: 400; padding-left: 1.5rem; padding-right: 1.5rem; line-height: 100%;}
.btn-m i,.btn-l i{margin-left: 1rem; font-size: 1.2rem; line-height: 100%; position: relative; margin-top: 0.2rem;}
.btn-m img,.btn-l img{margin-left: 1rem;}
.btn-w-18{width: 18rem;}
.btn-l{height: 5.6rem; font-size: 1.8rem; min-width: 16rem;}
.btn-wide{width: 40rem !important; margin-left: 0 !important; margin-right: 0 !important;}

.btn-blue{color: #fff !important; background-color: #003994;}
.btn-blue:hover{background-color: #2F436B}
.btn-white{background-color: #fff; border: 1px solid #ddd;}
.btn-white:hover{border: 1px solid #333333;}
.btn-black{color: #fff !important; background-color: #3EA9D6;}
.btn-orange{color: #fff !important; background-color: #ED8000;}
.btn-orange:hover{background: #FF5C00;}

.btn-list a{margin-right: 0.5rem; margin-top: 1.6rem;}
.btn:disabled{background-color: #f5f5f5; color: #888888 !important; border: .1rem solid #dddddd; cursor: default;}
@media (max-width: 600px) {
    .btn-s{ height: 3.8rem; min-width:none; font-size: 1.2rem;}
    .btn-m{height:4rem; font-size: 1.4rem;}
    .btn-l{height:4.8rem; font-size: 1.6rem; min-width: 0;}
    .btn-wide{width:100% !important;}
    .m-full{width: 100% !important; margin-top: 0.8rem; margin-left: 0 !important; margin-right: 0 !important; min-width: 0 !important;}
    .btn-list a{margin-top: 0.5rem;}
}


/* link */
a{color:#303030;text-decoration:none; transition: all 0.2s ease;}
a:link, a:visited, a:active{text-decoration: none;}
a:hover{color:#003994;}

/* SKIP */
.accessbility{left:0;top:0;text-align:center;width:100%;z-index:100;background:#292929;font-size:1.6rem;position: absolute;}
.accessbility a{overflow:hidden;display:block;height:0;width:0;margin-bottom:-0.1rem;text-align:center;white-space:nowrap;color:#fff}
.accessbility a:focus,.accessbility a:active{height:auto;width:auto;padding:1.8rem 0;color:#fff}

/* common */

*{font-family:'Lato', 'Noto Sans KR', sans-serif; box-sizing: border-box;}

/* layout */
.modal.modal-inside{transform: none; display: none;}

/* modal */
.modal-dialog-centered{display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (0.5rem * 2));}
.modal{ transition: all 0.4s ease; transform: translateY(5rem); z-index: 99999; position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;} 
.modal.show{opacity: 1; transform: translateY(0);}
.modal-dialog{max-width: none; margin-left: auto; margin-right: auto; z-index: 101; align-items: center; position: relative; display: flex; height: 100%; pointer-events: none; width: 98rem;}
.modal-content{border-radius: 1.2rem; box-shadow: 0 .3rem 1rem 0 rgba(0, 0, 0, 0.3); border: none; position: relative; display: flex; background-color: #fff; flex-direction: column; width: 100%; pointer-events: auto;}
.modal-header{display: flex; align-items: center; justify-content:center; border-radius: 1.2rem 1.2rem 0 0; padding: 0 4rem; border: none; background-color: #2F436B; height: 5.6rem; font-size: 2.4rem;}
.modal-content .close{position: absolute; right: 0.8rem;}
.modal-content .close img{width: 4rem;}
.modal-header h1{font-size:2.4rem; font-weight: 700; display: flex;align-items: center; line-height: 120%; font-weight: bold; color: #fff;}
.modal-header h1 span{font-size: 3.2rem; font-weight: 600; margin-right: 1rem;}
.modal-body{border: none; padding: 4rem; padding-right: 0; outline: none; border-radius: 0 0 1.2rem 1.2rem; font-size: 1.4rem; line-height: 2.4rem;}
.modal-body textarea{width: 100%; border: .1rem solid #ddd; border-radius: .4rem; padding: 1rem; height: 12rem;}
.modal-footer{border-top: none; padding:0rem; justify-content:center; padding: 1.2rem; background: #ECECEC;}
.modal-scroll-con{overflow-y: auto; max-height: 54rem; padding-right: 4rem;}
.scroller::-webkit-scrollbar {width: 0.5rem;}
.scroller::-webkit-scrollbar-thumb {background-color: #2F436B;}
.scroller::-webkit-scrollbar-track {background-color: #fff;}

.modal-dialog.modal-s{width: 50rem;}
.modal-dialog.modal-s .modal-content{border-radius: 0;}
.modal-dialog.modal-s .modal-header{border-radius: 0; height: auto; min-height: 5.6rem; padding: 1.6rem 8rem; text-align: center;}
.modal-dialog.modal-s .modal-body{border-radius: 0; padding: 4rem 0 4rem 1.6rem}
.modal-dialog.modal-s .modal-scroll-con{padding-right: 1.6rem;}


/* added:begin */
.modal-blur .modal-header,
.modal-blur .modal-body,
.modal-blur .modal-footer {
	filter: blur(1rem);
}
.modal-blur .modal-blur-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 15px;
	font-weight: bold;

	display: flex;
	align-items: center;
	justify-content: center;
}
/* added:end */

@media (max-width: 600px) {
    .modal.show{opacity: 1; transform: translateY(0);}
    .modal-dialog{max-width: none; margin-left: auto; margin-right: auto; z-index: 101; align-items: center; position: relative; display: flex; height: 100%; pointer-events: none; width: 95%;}
    .modal-content{border-radius:0; box-shadow: 0 .3rem 1rem 0 rgba(0, 0, 0, 0.3); border: none; position: relative; display: flex; background-color: #fff; flex-direction: column; width: 100%; pointer-events: auto; max-height: 80%;}
    .modal-header{display: flex; align-items: center; justify-content: space-between; border-radius:0; padding: 0.8rem 0.8rem 0.8rem 2rem; border: none; min-height: 6rem; flex:none; padding-right: 5rem;}
    .modal-header h1{font-size:1.6rem; font-weight: 700; display: flex; align-items: center; justify-content: flex-start; line-height: 120%; font-weight: bold; color: #fff;}
    .modal-header h1 span{font-size: 2.4rem; font-weight: 600; margin-right: 0.5rem;}
    .modal-body{border: none; padding: 2rem; padding-right: 0; outline: none; border-radius: 0; font-size: 1.2rem; display: flex;  flex: 1; overflow-y: auto;}
    .modal-body textarea{width: 100%; border: .1rem solid #ddd; border-radius: .4rem; padding: 1rem; height: 12rem;}
    .modal-footer{border-top: none; justify-content:center; padding: 0.8rem;}
    .modal-scroll-con{overflow-y: auto; height: auto; padding-right: 2rem;  flex: 1 ; }

    .modal-dialog.modal-s{width:90vw; height: auto;}
    .modal-dialog.modal-s .modal-content{border-radius: 0;}
    .modal-dialog.modal-s .modal-header{border-radius: 0;}
    .modal-dialog.modal-s .modal-body{border-radius: 0; padding: 2.4rem 0 2.4rem 2.4rem}
    .modal-dialog.modal-s .modal-scroll-con{padding-right: 2.4rem;}

}


::-webkit-scrollbar {width: 0.5rem; height: 0.2rem; }
::-webkit-scrollbar-thumb {background: #4560d3; border-radius: 10px; }
::-webkit-scrollbar-track { background: rgba(0, 0, 0, 0.2);}


/* layout */
html, body {scroll-behavior:smooth; color: #303030;} 
body{font-size: 1.8rem; font-weight:500; line-height:160%; letter-spacing: -0.04rem; }
#wrapper{width: 100%; }
#wrapper.car-select{overflow: hidden;}
.mob-view {display:block;}
.pc-view{display: none;}


/* 서브 */
#header {padding: 0 5rem; height: 7rem; display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #ccc; flex: none;}
#header h1 a{display: flex; width:18rem; height: 4.2rem; background: url(../img/img-logo.png) no-repeat; background-size: 18rem auto; text-indent: -9999px; overflow: hidden;}
#header .back{display: none;}
#header .blur{width:18rem;}
#contents{ display: flex; flex-direction: column; height: 100%; }
.step-line{display: flex; font-size: 1.6rem;}
.step-line li{opacity:0.5 ; display: flex; align-items: center;}
.step-line li:after{content: ""; display: block; width: 4.4rem; height: 4.4rem; background: url(../img/ico-setp-right.svg) no-repeat; background-size: 100%;}
.step-line li:last-child::after{display: none;}
.step-line li.active{opacity:1;}
.car-list ul{display: flex; height: 7rem; padding: 0 4rem;  align-items: center; justify-content: space-between;}
.car-list ul li{width:28.4rem; margin: 0 1rem;}
.car-list ul li.active a{border-bottom: 2px solid #000e3d; color: #000e3d;}
.car-list ul a{display: flex; width: 100%; border-bottom: 2px solid #f5f6f7; height: 7rem; align-items: center; justify-content: center; color: #8a8f9c;}

.car-list {padding: 0 4rem; background-color: #f5f6f7; overflow: hidden;}
.carSwiper {display: flex; align-items: center; justify-content: space-between;}
.carSwiper .swiper-slide{width:28.4rem; margin: 0 1rem;}
.carSwiper .swiper-slide.active a{border-bottom: 2px solid #000e3d; color: #000e3d;}
.carSwiper .swiper-slide a{display: flex; width: 100%; border-bottom: 2px solid #f5f6f7; height: 7rem; align-items: center; justify-content: center; color: #8a8f9c;}

.total-price{border-bottom: 1px solid #ccc; padding: 0 5rem; display: flex; align-items: center; justify-content: space-between; height: 7rem;}
.total-price .name{font-size: 2rem;}
.total-price .price {display: flex; align-items: center;}
.total-price .price a {display: inline-flex; width: 5rem; height: 5rem; align-items: center; justify-content: center;}
.total-price .price a img{width: 2.4rem;}

.option-select{display: flex;  position: relative; justify-content: space-between; overflow: hidden;}
.option-select hr{background-color: #edeef0; height: 0.5rem;}
.option-select .viewer{ background-color:#fafafa; width: 100%; }
.option-select .viewer img{}
.option-select .option-block{display: flex; width:64.6rem; flex: none;  flex-direction: column; padding-bottom: 12rem;}
.option-select .option-block .option-contents{height:calc(100vh - 33.0rem); overflow-y: auto; }
.option-select .option-block .submit-block{position:absolute; width:64.6rem; right: 0; bottom: 0;}
.option-select .option-block .submit-block .price-info{display: flex; height:6rem; color: #fff; align-items: center; background-color: #000e3d; font-weight: 300; font-size: 2rem; align-items: center; justify-content: center;}
.option-select .option-block .submit-block .price-info b{margin-left: 1rem;}
.option-select .option-block .submit-block .price-info a{margin-left: 1rem;}
.option-select .option-block .submit-block .btn-select{display: flex;}
.option-select .option-block .submit-block .btn-select button{ color: #fff; width: 100%; height: 6rem; align-items: center; font-size: 1.6rem;}
.option-select .option-block .submit-block .btn-select button:first-of-type{background-color:#0c0d0e ;}
.option-select .option-block .submit-block .btn-select button:last-of-type{background-color:#233975 ;}
.option-select .caution{padding:4rem 5rem; background-color: #f5f5f5; color: #6f6f6f;  line-height: 1.63; font-size: 1.6rem;}
.mob-view {display: none;}
.pc-view{display:block;}
.select-block {padding: 5rem; padding-bottom: 3rem;}
.select-block h2{font-size: 3rem; font-weight: 800; color: #000; margin-bottom: 2rem; display: flex; align-items: center; line-height: 100%;}
.select-block h2 .badge{display: inline-flex; color: #fff; height: 2.4rem; border-radius: 3px; background-color: #c6b9b6; padding: 0  0.5rem; border-radius: 0.3rem; font-size: 1.2rem; line-height: 100%; align-items: center; font-weight: 400; margin-left: 1.5rem;}
.select-block h3{font-size: 2rem; margin-top: 1.5rem; letter-spacing: -0.05rem;}
.select-block hr{height: 0.1rem; margin-top: 4rem; margin-bottom: 3rem;}
.radio-select{display: flex; flex-wrap: wrap; justify-content: space-between; padding-right: 7.5rem;}
.radio-select dl:last-of-type{margin-top: 2rem;}
.radio-select dl dt{font-size: 1.4rem;}
.radio-select dl dd{}

.color-list {width: 100%;}
.color-list li {margin-top: 2rem; position: relative;}
.color-list li label{display: flex; border: 1px solid #ddd; height: 6rem; padding-left: 1.5rem; justify-content: space-between; align-items: center;}
.color-list li label::after{left: 2.1rem; top: 50%; transform: translateY(-50%); transition: all 0.4s ease;}
.color-list li label *{ line-height: 100%;}
.color-list li label img{width: 6.4rem; margin-left: 1.3rem;}
.color-list li label .title{margin-right: auto; margin-left: 2rem; font-size: 1.8rem;}
.color-list li label .price {font-weight: bold; font-size: 1.8rem;}
.color-list li label .price img{width: 4.4rem;}
.color-list li input:checked+label{border: solid 1px #4560d3;}

.inter-list {width: 100%;}
.inter-list li {margin-top: 2rem; position: relative;}
.inter-list li label{display: flex; border: 1px solid #ddd; height: 14rem; padding-left: 1.5rem; align-items: center; padding-top: 2rem; padding-bottom: 2rem;}
.inter-list li label::before{flex: none;}
.inter-list li label::after{left: 2.1rem; top: 50%; transform: translateY(-50%); transition: all 0.4s ease;}
.inter-list li label *{ line-height: 100%;}
.inter-list li label img{width: 9.7rem; margin-left: 1.3rem;}
.inter-list li label .info{margin-left: 1.3rem; height: 100%; display: flex; flex-direction: column; justify-content:space-between;  width: 100%;}
.inter-list li label .title{margin-right: auto;font-size: 1.8rem;}
.inter-list li label .price {font-weight: bold; display: flex; justify-content: space-between; align-items: flex-end; width: 100%; font-size: 1.8rem;}
.inter-list li label .price img{width: 4.4rem; margin-bottom: -1.5rem;}
.inter-list li input:checked+label{border: solid 1px #4560d3;}

@media (min-width: 768px) and (max-width: 1200px){
    .mob-view {display:block;}
    .pc-view{display: none;}
    #header {justify-content:flex-start;}
    #header h1 a{width: 5rem; margin-right: 7rem;}
    #header .back{display:none;}
    #header .blur{display: none;}
    .step-line{display: flex; font-size: 1.6rem;}
    .carSwiper .swiper-slide{width:auto; margin: 0 1rem; min-width: 20rem;}
    .carSwiper .swiper-slide.active a{border-bottom: 2px solid #000e3d; color: #000e3d;}
    .carSwiper .swiper-slide a{display: flex; width: auto; padding: 0 2rem; border-bottom: 2px solid #f5f6f7; align-items: center; justify-content: center; color: #8a8f9c; font-size: 2rem; letter-spacing: -0.05rem;}
    .option-contents .select-block{padding-top: 4rem;}
    .select-block {padding: 4rem 5rem;}
    .option-contents .select-block hr{height: 0.1rem; margin-top: 3.5rem; margin-bottom: 3rem;}
    .radio-select{display: flex; flex-wrap: wrap; justify-content:flex-start; padding-right:0;}
    .radio-select dl{margin-right: 2rem;}
    .radio-select dl:last-of-type{margin-top: 0rem;}
    .caution-view{font-size: 1.2rem; display: flex; align-items: center; justify-content: center; padding: 2rem 0; color: #6f6f6f;}
    .option-select{display: flex;  position: relative; flex-direction: column; overflow: hidden;}
    .option-select hr{background-color: #edeef0; height: 0.5rem;}
    .option-select .viewer{ background-color:#fafafa; width: 100%; height:63rem; }
    .option-select .viewer img{}
    .option-select .option-block{display: flex; width:100%; flex: none;  flex-direction: column; padding-bottom:0;}
    .option-select .option-block .option-contents{height:auto; overflow-y: auto; }
    .option-select .option-block .submit-block{position:static; width:100%; right: 0; bottom: 0; padding-top: 3rem; padding-bottom: 12rem; padding-left: 4rem; padding-right: 4rem;}
    .option-select .option-block .submit-block .price-info{display: flex; height:6rem; color: #fff; align-items: center; background-color: #000e3d; font-weight: 300; font-size: 2rem; align-items: center; justify-content: center; position: fixed; bottom: 0; z-index: 10; left: 0; right: 0;}
    .option-select .option-block .submit-block .price-info b{margin-left: 1rem;}
    .option-select .option-block .submit-block .price-info a{margin-left: 0rem; position: absolute; width: 8rem; height: 2.4rem; border-radius:2px 2px 0 0;
        background-color: #dbdbdb; top: -2.4rem; display: flex; align-items: center; justify-content: center;}
    .option-select .option-block .submit-block .price-info a img{ width: 2.4rem;}
    .option-select .option-block .submit-block .btn-select{display: flex;}
    .option-select .option-block .submit-block .btn-select button{ color: #fff; width: 100%; height:6rem; align-items: center;  margin: 0 1rem;}
    .option-select .option-block .submit-block .btn-select button:first-of-type{background-color:#0c0d0e ;}
    .option-select .option-block .submit-block .btn-select button:last-of-type{background-color:#233975 ;}
    .option-select .caution{padding:4rem 5rem; background-color: #f5f5f5; color: #6f6f6f;  line-height: 1.63; font-size: 1.4rem;}

    .color-list {width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between;}
    .color-list li {width: 49%;}
    .color-list li label{display: flex; border: 1px solid #ddd; height: 6rem; padding-left: 1.4rem; justify-content: space-between; align-items: center;flex: none;}
    .color-list li label::after{left: 2rem; top: 50%; transform: translateY(-50%); transition: all 0.4s ease;}
    .color-list li label *{ line-height: 100%;}
    .color-list li label .price img{width: 4.4rem; margin-left: 0;}
    .color-list li input:checked+label{border: solid 1px #4560d3;}

    .inter-list {width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between;}
    .inter-list li {margin-top: 1rem; width: 49%;}
    .inter-list li label{display: flex; border: 1px solid #ddd; height: 14rem; padding-left: 1.4rem; align-items: center; padding-top: 2rem; padding-bottom: 2rem;}
    .inter-list li label::before{flex: none;}
    .inter-list li label::after{left: 2rem; top: 50%; transform: translateY(-50%); transition: all 0.4s ease; flex: none;}
    .inter-list li label *{ line-height: 100%;}
    .inter-list li label img{width: 9.7rem; margin-left: 1.3rem;}
    .inter-list li label .info{margin-left: 1.3rem; height: 100%; display: flex; flex-direction: column; justify-content:space-between;  width:auto; padding:0 0 0.5rem 0; flex: 1;}
}

@media (max-width: 767px) {
    #header {padding: 0 2rem; justify-content:flex-start;}
    #header h1 a{width: 5rem;}
    #header .back{display:inline-flex;}
    #header .blur{display: none;}
    .step-line{display: flex; font-size: 1.6rem;}
    .step-line li{display: none;}
    .step-line li:after{display: none;}
    .step-line li.active{display:flex;}

    .car-list {padding: 0 2rem 0 0; background-color: #f5f6f7;}
    .carSwiper {display: flex; align-items: center; justify-content: space-between;}
    .carSwiper .swiper-slide{width:auto; margin: 0 0.6rem;}
    .carSwiper .swiper-slide.active a{border-bottom: 2px solid #000e3d; color: #000e3d;}
    .carSwiper .swiper-slide a{display: flex; width: auto; padding: 0 2rem; border-bottom: 2px solid #f5f6f7; height: 5rem; align-items: center; justify-content: center; color: #8a8f9c; font-size: 1.6rem;}

    .total-price{padding: 0 0 0 2rem; display: flex; align-items: center; justify-content: space-between; height: 5rem;}
    .total-price .name{font-size: 1.4rem;}
    .total-price .price {font-size: 1.4rem;}
    .total-price .price img{width: 2.4rem; margin-left: 1rem;}
    .mob-view {display:block;}
    .pc-view{display: none;}

    .option-contents .select-block{padding-top: 4rem;}
    .select-block {padding: 2rem; padding-bottom: 3rem;}
    .select-block h2{font-size: 1.8rem; font-weight: 800; color: #000; }
    .select-block h2 .badge{display: inline-flex; color: #fff;font-size: 1rem;}
    .select-block h3{font-size: 1.6rem; margin-top: 1.5rem; letter-spacing: -0.05rem;}
    .option-contents .select-block hr{height: 0.1rem; margin-top: 3.5rem; margin-bottom: 3rem;}
    .radio-select{display: flex; flex-wrap: wrap; justify-content:flex-start; padding-right:0;}
    .radio-select dl{margin-right: 1.2rem; margin-bottom: 1rem;}
    .radio-select dl:last-of-type{margin-top: 0rem; margin-bottom: 0;}
    .caution-view{font-size: 1.2rem; display: flex; align-items: center; justify-content: center; padding: 2rem 0; color: #6f6f6f;}
    .option-select{display: flex;  position: relative; flex-direction: column; overflow: hidden;}
    .option-select hr{background-color: #edeef0; height: 0.5rem;}
    .option-select .viewer{ background-color:#fafafa; width: 100%; height: 42rem; }
    .option-select .viewer img{}
    .option-select .option-block{display: flex; width:100%; flex: none;  flex-direction: column; padding-bottom:0;}
    .option-select .option-block .option-contents{height:auto; overflow-y: auto; }
    .option-select .option-block .submit-block{position:static; width:100%; right: 0; bottom: 0; padding-top: 3rem; padding-bottom: 12rem; padding-left: 1.5rem; padding-right: 1.5rem;}
    .option-select .option-block .submit-block .price-info{display: flex; height:6rem; color: #fff; align-items: center; background-color: #000e3d; font-weight: 300; font-size: 1.6rem; align-items: center; justify-content: center; position: fixed; bottom: 0; z-index: 10; left: 0; right: 0;}
    .option-select .option-block .submit-block .price-info b{margin-left: 1rem;}
    .option-select .option-block .submit-block .price-info a{margin-left: 0rem; position: absolute; width: 8rem; height: 2.4rem; border-radius:2px 2px 0 0;
        background-color: #dbdbdb; top: -2.4rem; display: flex; align-items: center; justify-content: center;}
    .option-select .option-block .submit-block .price-info a img{ width: 2.4rem;}
    .option-select .option-block .submit-block .btn-select{display: flex;}
    .option-select .option-block .submit-block .btn-select button{ color: #fff; width: 100%; height:5rem; align-items: center; font-size: 1.4rem; margin: 0 0.5rem;}
    .option-select .option-block .submit-block .btn-select button:first-of-type{background-color:#0c0d0e ;}
    .option-select .option-block .submit-block .btn-select button:last-of-type{background-color:#233975 ;}
    .option-select .caution{padding:3rem 2rem; background-color: #f5f5f5; color: #6f6f6f;  line-height: 1.63; font-size: 1.3rem;}

    .color-list {width: 100%;}
    .color-list li {margin-top: 1rem; position: relative;}
    .color-list li label{display: flex; border: 1px solid #ddd; height: 6rem; padding-left: 1.4rem; justify-content: space-between; align-items: center;flex: none;}
    .color-list li label::after{left: 2rem; top: 50%; transform: translateY(-50%); transition: all 0.4s ease;}
    .color-list li label *{ line-height: 100%;}
    .color-list li label img{width: 4rem; margin-left:0; height: 4rem;}
    .color-list li label .title{margin-right: auto; margin-left:1rem; font-size: 1.4rem;}
    .color-list li label .price {font-weight: bold; font-size: 1.4rem; display: flex; align-items: center;}
    .color-list li label .price img{width: 4.4rem;}
    .color-list li input:checked+label{border: solid 1px #4560d3;}

    .inter-list {width: 100%;}
    .inter-list li {margin-top: 1rem; width: 100%;}
    .inter-list li label{display: flex; border: 1px solid #ddd; height: 14rem; padding-left: 1.4rem; align-items: center; padding-top: 2rem; padding-bottom: 2rem;}
    .inter-list li label::before{flex: none;}
    .inter-list li label::after{left: 2rem; top: 50%; transform: translateY(-50%); transition: all 0.4s ease; flex: none;}
    .inter-list li label *{ line-height: 100%;}
    .inter-list li label img{width: 9.7rem; margin-left: 1.3rem;}
    .inter-list li label .info{margin-left: 1.3rem; height: 100%; display: flex; flex-direction: column; justify-content:space-between;  width:auto; padding:0 0 0.5rem 0; flex: 1;}
    .inter-list li label .title{margin-right: auto;font-size: 1.4rem; word-break:break-all; width: 100%; display: flex; flex-wrap: wrap; height: 100%; white-space:pre-wrap; line-height: 1.5; padding-right: 1rem;}
    .inter-list li label .price {font-weight: bold; display: flex; justify-content: space-between; align-items: flex-end; width: 100%; font-size: 1.4rem; }
    .inter-list li label .price img{width: 4.4rem; margin-bottom: -1.5rem;}
    .inter-list li input:checked+label{border: solid 1px #4560d3;}
}


/* step 2 */
.car-list.pin{position: sticky; top:0;z-index: 9;}
.step2 {width: 118rem;margin: 0 auto;display: flex;flex-direction: row;justify-content: space-between; margin-top: 4.3rem;}
.step2 .left-wrap {width: 78.1rem;}
.step2 .right-wrap {width: 36rem}
.step2 .info-box {position: relative;padding: 1.4rem 2.7rem;background-color: #fffaf3;font-size: 1.6rem;color: #7a4d05;font-weight: 400; line-height: 2.4rem;}
.step2 .info-box:before{content:'*';position: absolute;left: 1.5rem;top: 1.7rem;}


.step2 .select-box {margin-top: 6rem;padding-bottom: 6rem;border-bottom: solid 5px #edeef0}
.step2 .select-box.small{padding-bottom: 2rem;}
.step2 .select-box.noline{border-bottom: none}
.step2 .select-box .top-title {font-size: 3rem;font-weight: 600;}
.step2 .select-box .top-title.underline{border-bottom: solid 1px rgba(0,0,0,0.5);padding-bottom: 2rem}
.step2 .select-box .top-price {float: right; font-size: 3rem;font-weight:600;font-family: 'Lato';}
.step2 .select-box .check-wrap{display: flex;flex-direction: row;justify-content: space-between;margin-top: 3rem;flex-wrap: wrap;}
.step2 .select-box .check-list{width:38rem;margin: 1rem 0;display: flex; align-items: center}
.step2 .select-box .check-list label{width: 100%;box-sizing: border-box; padding: 1.5rem 0 1.5rem 1.5rem;border: solid 1px #ccc;height:6rem;position:relative}
.step2 .select-box .check-list label:after{left: 1.8rem;}
.step2 .select-box .check-list input[type="checkbox"]:checked+label{border-color: #4560d3;}
.step2 .select-box .check-list .info{width: 100%;position: relative;line-height: 6rem}
.step2 .select-box .check-list .title{float:left;margin-left: 1rem;font-size: 1.8rem;font-weight: 400;}
.step2 .select-box .check-list .price {float: right;text-align: right;font-family: 'Lato';font-size: 1.8rem;font-weight: 600;}
.step2 .select-box .check-list.image label{height: 13.8rem}
.step2 .select-box .check-list.image .thumb{width: 15.7rem;height: 9.7rem;margin-left: 1.2rem;}
.step2 .select-box .check-list.image .thumb > img{width: 9.7rem;height: 9.7rem;}
.step2 .select-box .check-list.image .thumb.no-image{background: url('../img/no-image.png') no-repeat;background-size: 9.7rem 9.7rem;}
.step2 .select-box .check-list.image .info{line-height: 1.8rem;}
.step2 .select-box .check-list.image .title{float: none;height: 10rem;margin-left: 1.5rem;display: block;}
.step2 .select-box .check-list.image .price{float: none;text-align: left;position: absolute;left: 1.5rem;top: 7rem;width: 100%;}
.step2 .select-box .check-list.image .price button{position: absolute;right: 1.7rem;top: -1rem;}
.step2 .select-box .ex-info{margin-top: 20px;font-size: 15px;color: #6f6f6f;font-weight: 300}
.step2 .select-box .list-wrap{margin-top: 3rem}
.step2 .select-box .list-wrap > dl{display: flex;flex-direction: row;padding: 3.5rem 0;}
.step2 .select-box .list-wrap > dl > dt{width:20rem;padding-top: 0.7rem;font-size: 20px;font-weight: 500}
.step2 .select-box .list-wrap > dl > dt .star{position: relative;top: 0.3rem; margin-left: 0.8rem;color: #4560d3;font-size: 1.6rem;}
.step2 .select-box .list-wrap > dl > dd{flex: 1}
.step2 .select-box .list-wrap > dl.underline{border-bottom: solid 1px #ccc}
.step2 .select-box .list-wrap .tab-btns{display: flex;flex-direction: row;}
.step2 .select-box .list-wrap .tab-btns .btn{display:inline-block;width:18rem;height:4.1rem;border: solid 1px #d6d6d7;border-radius: 0.4rem;font-size: 1.4rem;font-weight: 500;color: rgba(0,0,0,0.5)}
.step2 .select-box .list-wrap .tab-btns .btn:first-child{margin-right: 2rem;}
.step2 .select-box .list-wrap .tab-btns .btn.active{background-color: #1b1c1d;color:#fff}
.step2 .select-box .list-wrap .field-areas{display: flex;flex-direction: row;justify-content: space-between;margin-top: 2rem;flex-wrap: wrap;}
.step2 .select-box .list-wrap .field-areas:first-child{margin-top: 0;}
.step2 .select-box .list-wrap .field-areas .area{width: 28rem}
.step2 .select-box .list-wrap .field-areas .area.large{width: 100%;}
.step2 .select-box .list-wrap .field-areas .area > p{font-size: 16px;font-weight: 400;color: rgba(0, 0, 0, 0.8);margin-bottom: 1rem;}
.step2 .select-box .list-wrap .field-areas input[type="text"]{text-align: right;padding: 2rem;font-family: Lato;font-size: 1.6rem;font-weight: bold;color: #0b0b1b;}
.step2 .select-box .list-wrap .field-areas input:disabled{color: rgba(11, 11, 27, 0.6);font-weight: 400;}
.step2 .select-box .list-wrap .field-areas.ver{flex-direction: column;}
.step2 .select-box .list-wrap .field-areas.ver .area{margin-top: 2rem}
.step2 .select-box .list-wrap .field-areas.ver .area:first-child{margin-top: 0}
.step2 .select-box .list-wrap .field-areas.ml{margin-left: 4.2rem}
.step2 .select-box .list-wrap .field-areas.ml .area{width:26rem}
.step2 .select-box .list-wrap .check-con{position: relative;margin-top: 2.5rem}
.step2 .select-box .list-wrap .check-con label{text-indent: 0.8rem;vertical-align: top;font-size: 1.6rem;font-weight: 400}
.step2 .select-box .list-wrap .check-con label:before{border-radius: 2px;}
.step2 .select-box .list-wrap .check-con label:after{background: url('../img/ico-chk-black.png') no-repeat; background-size: 100%;width: 2rem; height: 2rem; overflow: hidden; border-radius: 2px;left: 0}
.step2 .select-box .list-wrap .blue-box{padding: 3rem;background-color: #f7f9fa;margin-top: 3.5rem}
.step2 .select-box .list-wrap .blue-box > p{font-size: 16px;font-weight: 400;color: rgba(0, 0, 0, 0.8);margin-bottom: 1rem;}
.step2 .select-box .list-wrap .blue-box input[type="text"]{text-align: right;padding: 2rem;font-family: Lato;font-size: 1.6rem;font-weight: bold;color: #0b0b1b;width:33.5rem}
.step2 .select-box .list-wrap .radio-con{margin-top: 3rem}
.step2 .select-box .list-wrap .radio-con:first-child{margin-top:0}
.step2 .select-box .list-wrap .radio-con > label > span{position:relative;top: -0.1rem;margin-left: 1.7rem}
.step2 .select-box .list-wrap .radio-con input[type=radio]+label:before{background-color:#fff}
.step2 .select-box .list-wrap .radio-con input[type=radio]+label:after{background-color:#fff}
.step2 .select-box .list-wrap .radio-con input[type=radio]:checked+label:before{background-color:#4560d3}

.step2 .bottom-guide{padding: 4rem 6rem;background-color: #f5f5f5;margin-bottom: 10rem}
.step2 .bottom-guide > dl {font-size: 1.4rem;font-weight: 400;color:#6f6f6f;margin-top:2rem}
.step2 .bottom-guide > dl:first-child{margin-top: 0}
.step2 .bottom-guide > dl > dt:before{content:'';display: inline-block;width:2rem;height:2rem;background: url('../img/info-light-icon.svg') no-repeat;background-size: 100%;vertical-align: middle;margin-right: 0.3rem}
.step2 .bottom-guide > dl > dd{padding-left: 2.5rem}
.step2 .bottom-guide > dl strong{color: 000;font-weight: 600;}

.step2 .order-wrap{border: solid 1px #ccc; position: sticky;top: 7.8rem}
.step2 .order-box{padding: 4rem 2.9rem 2rem 2.9rem;}
.step2 .order-box .badge{line-height: 1.6rem;height: 2.4rem;border-radius: 1.2rem;background-color: #20bbe5;padding: 0.4rem 1.2rem 0.5rem 1.3rem;display: inline-block;color: #fff;font-family: 'Lato';font-size: 1.2rem;font-weight: 500;}
.step2 .order-box .car-title{font-family: Lato;font-size: 2.4rem;font-weight: 800;margin-top: 1.5rem}
.step2 .order-box .car-desc{font-size: 1.6rem;font-weight: 400;margin-top: 1.5rem;line-height: 1.5;}
.step2 .order-box .car-img > img{width: 30rem;height: 20rem}

.step2 .order-list .accodion-header{padding:0 2.9rem;cursor: pointer;position: relative}
.step2 .order-list .accodion-header:after{position: absolute;content:'';width:2rem;height:2rem;background: url('../img/ico-arrow.svg') no-repeat;right: 2rem;top: 1.8rem;}
.step2 .order-list .accodion.active .accodion-header:after{transform: rotate(180deg);}
.step2 .order-list .accodion-header > div{display: flex;flex-direction: row;border-top: solid 1px #f2f2f2;padding:1.5rem 0}
.step2 .order-list .accodion:first-child .accodion-header > div{border-top: none}
.step2 .order-list .accodion-header .text{flex: 1;font-size: 1.6rem;font-weight: 400;position: relative}
.step2 .order-list .accodion-header .price{width:12.6rem;text-align: right;padding-right: 1.5rem;font-family: 'Lato';font-size: 1.6rem;font-weight: 600;}
.step2 .order-list .accodion-body{background-color:#f7f9fa;padding:0 3.9rem;display: none;}
.step2 .order-list .accodion-body ul{border-top: solid 1px #f2f2f2}
.step2 .order-list .accodion-body ul:first-child{border-top: none}
.step2 .order-list .accodion-body li{padding: 1rem 0;display: flex;flex-direction: row;line-height: 2rem;}
.step2 .order-list .accodion-body li .text{font-size: 13px; font-weight: 300;flex:1}
.step2 .order-list .accodion-body li .price{font-size: 13px; font-family: 'Lato'; font-weight: 600;width:9rem;text-align: right}
.step2 .order-list .accodion-body li .price a{font-size: 1.1rem;font-weight: 300;color: #67abf1;text-decoration: underline;}
.step2 .order-total{padding: 1rem 2.5rem;}
.step2 .order-total > div {padding: 2.5rem 0 1rem 0;border-top: solid 2px rgba(0,0,0,0.5);display: flex;flex-direction: row;justify-content: space-between;}
.step2 .order-total .text{font-size: 1.6rem;font-weight: 500;}
.step2 .order-total .price{font-family: Lato;font-size: 2.2rem;font-weight: 800;}
.step2 .order-btns{display: flex;flex-direction: row;}
.step2 .order-btns > button{flex: 1;height: 6rem;background-color: #0c0d0e;font-size: 1.6rem;font-weight: 500;color: #fff}
.step2 .order-btns > button:nth-child(2){background-color: #233975;}
.step2.open .select-box .check-list input[type=checkbox]+label:before{border-radius: 50%;}
.step2.open .select-box .check-list input[type=checkbox]:checked+label:before{background-color: #4560d3;}
.step2.open .select-box .check-list input[type=checkbox]+label:after{border-radius: 50%;background-color: #fff;width: 1rem;height: 1rem;left: 2rem}
.step2.open .select-box .check-list.image .title{display: flex;align-items: center;}
.step2 .m-total-price{display: none;align-items: center;position: fixed;width: 100%;height: 6rem;background-color: #000e3d;left: 0; bottom: 0;z-index: 8;color:#fff;justify-content: center;font-size: 2rem;font-weight: 300;}
.step2 .m-total-price strong{font-family: 'Lato';font-size: 2rem;font-weight: bold;margin-left: 1.8rem}
.step2 .m-total-price a{margin-left: 0rem; position: absolute; width: 8rem; height: 2.4rem; border-radius:2px 2px 0 0;background-color: #dbdbdb; top: -2.4rem; display: flex; align-items: center; justify-content: center;}
@media (min-width: 768px) and (max-width: 1200px){
    .step2 {flex-direction: column;margin-top: 3rem;width: 100%}
    .step2 .left-wrap {width: 100%}
    .step2 .right-wrap {width: 100%;padding-bottom: 6rem}
    .step2 .select-box .check-list,
    .step2 .select-box .list-wrap .field-areas .area,
    .step2 .select-box .list-wrap .field-areas.ml .area{width: calc(50% - 1rem)}
    .step2 .info-box,
    .step2 .select-box .top-title,
    .step2 .select-box .check-wrap,
    .step2 .select-box .ex-info,
    .step2 .select-box .list-wrap > dl{margin: 0 5rem;}
    .step2 .bottom-guide{margin-bottom:1rem}
    .step2 .order-wrap{position:static;border:none}
    .step2 .order-box,
    .step2 .order-list,
    .step2 .order-total{display: none;}
    .step2 .order-btns{margin: 5rem}
    .step2 .m-total-price{display: flex;}
}